{% extends "base.html" %}
{% load static %}
{% load filters %}
{% block title %}
  {{ ticket.destination }}
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0">{{ ticket.destination }}</h1>
  <div class="row mt-3">
    <div class="col-12 col-md-6">
      <h5>Отправление</h5>
      <p>{{ ticket.departure }}</p>
      <h5>Описание</h5>
      <p>{{ ticket.description }}</p>
      <h5>Авиакомпания</h5>
      <p>{{ ticket.airline }}</p>
      <h5>Стоимость билета</h5>
      <p>{{ ticket.price|format_price }}</p>
      <h5>Продолжительность полёта</h5>
      <p>{{ ticket.duration|format_duration }}</p>
      <h5>Питание на борту</h5>
      <p>{{ ticket.meals_on_board|yesno:"Есть,Нет" }}</p>
    </div>
    <div class="col-12 col-md-6 mb-3">
      <img class="img-fluid animated-card" width="100%"
           src="{% static 'img/destinations/'|add:ticket.transcribed_destination|add:'.png' %}">
    </div>
  </div>
{% endblock %}