{% extends "base.html" %}
{% load static %}
{% block title %}
  AirClick — Главная страница
{% endblock %}
{% block content %}
  <h1 class="pb-2 mb-0 text-center">Дешёвые авиабилеты на популярные направления</h1>
  <div class="container mt-4">
    <div class="row">
      {% for ticket in ticket_list %}
        <!-- Карточка направления -->
        <div class="col-12 col-sm-6 col-md-4 mb-4">
          <div class="card animated-card shadow-sm">
            <img src="{% static 'img/destinations/'|add:ticket.transcribed_destination|add:'.png' %}"
                 class="card-img-top"
                 alt="{{ ticket.destination }}">
            <div class="card-body">
              <h5 class="card-title">{{ ticket.departure }} → {{ ticket.destination }}</h5>
              <p class="card-text">{{ ticket.description }}</p>
              <div class="mt-auto d-flex gap-2">
                <a href="#" class="btn btn-primary flex-grow-1">Подробнее</a>
                <a href="#" class="btn btn-success flex-grow-1">Купить билет</a>
              </div>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
{% endblock %}