{% extends "base.html" %}
{% block title %}
  AirClick — О нас
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        О нас
      </div>
      <div class="card-body">
        <p>
          AirClick — это современный онлайн-сервис для поиска и покупки дешевых авиабилетов.
          Мы предоставляем удобный и быстрый способ организовать ваше путешествие, экономя время и деньги.
        </p>
        <p>
          На нашем сайте вы найдете самые востребованные направления, которые идеально подойдут для путешествий по
          России. Мы собрали маршруты, пользующиеся наибольшей популярностью у наших клиентов.
        </p>
        <p>
          С AirClick ваши мечты о путешествиях становятся реальностью!
          Мы поможем вам побывать в интереснейших местах России с минимальными затратами.
        </p>
      </div>
    </div>
  </div>
{% endblock %}