{% extends "base.html" %}
{% block title %}
  AirClick — Контакты
{% endblock %}
{% block content %}
  <div class="col d-flex justify-content-center">
    <div class="card" style="width: 40rem;">
      <div class="card-header">
        Контакты
      </div>
      <div class="card-body">
        <address>
          <p>
            <b>Телефон:</b> <a href="tel:+79963115792">+7 (996) 311-57-92</a>
          </p>
          <p>
            <b>Email:</b> <a href="mailto:o737b04@voenmeh.ru">o737b04@voenmeh.ru</a>
          </p>
          <p>
            <b>Адрес главного офиса:</b> Санкт-Петербург, наб. Октябрьская, 122/2, оф. 74
          </p>
          <p>
            <b>Слоган:</b> «Откройте новые горизонты!»
          </p>
        </address>
      </div>
    </div>
  </div>
{% endblock %}