{% load static %}
<header>
  <nav class="navbar navbar-expand-lg navbar-light fixed-top shadow-lg">
    <div class="container">
      <div class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
           aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </div>
      <a class="navbar-brand" href="{% url 'tickets:index' %}">
        <img src="{% static 'img/logo-big.png' %}" height="30" class="d-inline-block align-top" alt="">
        <img src="{% static 'img/logo-brand-name.png' %}" height="30" class="d-inline-block align-top" alt="">
      </a>
      <div class="collapse navbar-collapse" id="navbarNav">
        {% with request.resolver_match.view_name as view_name %}
          <ul class="nav nav-pills">
            <li class="nav-item me-2">
              <a class="nav-link {% if view_name == 'tickets:index' %} active active-link {% endif %}"
                 href="{% url 'tickets:index' %}">
                Главная
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link {% if view_name == 'pages:about' %} active active-link {% endif %}"
                 href="{% url 'pages:about' %}">
                О нас
              </a>
            </li>
            <li class="nav-item me-2">
              <a class="nav-link {% if view_name == 'pages:contacts' %} active active-link {% endif %}"
                 href="{% url 'pages:contacts' %}">
                Контакты
              </a>
            </li>
            {% if user.is_authenticated %}
              <div class="btn-group me-2" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">
                  <a class="text-decoration-none text-reset" href="{% url 'tickets:profile' user.username %}">
                    {{ user.username }}
                  </a>
                </button>
                <button type="button" class="btn btn-outline-primary">
                  <a class="text-decoration-none text-reset" href="{% url 'logout' %}">
                    Выйти
                  </a>
                </button>
              </div>
            {% else %}
              <div class="btn-group me-2" role="group" aria-label="Basic outlined example">
                <button type="button" class="btn btn-outline-primary">
                  <a class="text-decoration-none text-reset" href="{% url 'login' %}">
                    Войти
                  </a>
                </button>
                <button type="button" class="btn btn-outline-primary">
                  <a class="text-decoration-none text-reset" href="{% url 'registration' %}">
                    Регистрация
                  </a>
                </button>
              </div>
            {% endif %}
            <a class="btn btn-success" href="{% url 'tickets:cart_view' %}">
              Корзина
            </a>
          </ul>
        {% endwith %}
      </div>
    </div>
  </nav>
</header>